.bundle
db/*
log/*.log
log
tmp/
.sass-cache/
.tags
db/*.lock
db/journal
.DS_Store
config/mongoid.yml
Gemfile.lock
public/uploads/*
public/uploads/avatar/*
public/assets/*
lib/bs_db_csv*
lib/bs_db_xml*
public/production.log
tmp/restart.txt
