$black: #000000;
$white: #ffffff;

#info {
  width: 603px;
  padding-top: 3px;
  overflow: hidden;
}
.btn {
  width: 80px;
}
.input_area {
  position: absolute;
  float: right;
  z-index: 2;
  right: 20px;
  top: 100px;
  background-color: $black;
  opacity: 0.7;
  padding: 10px;
  label {
    color: $white;
  }
}
.left {
  float: left;
}
.hide {
  display: none;
}
#container {
  width: 100%;
  height: 600px;
}
