$black: #000000;
$white: #ffffff;
$blue: #2599e9;

#info {
  width: 603px;
  padding-top: 3px;
  overflow: hidden;
}
.btn {
  width: 80px;
}
.log-style-div {
  position: absolute;
  z-index: 2;
  right: 5px;
  top: 110px;
  height: auto;
  #polyline {
    width: 40px;
    height: 22px;
    padding: 0px;
    font-size: 13px;
    border-width: 0px;
  }
  #circle {
    width: 40px;
    height: 22px;
    padding: 0px;
    font-size: 13px;
    border-width: 0px;
  }
  box-shadow: 0px 5px 5px rgba(0,0,0,.6);
  .active {
    background-color: $blue;
    color: $white;
  }
}
.input_area {
  position: absolute;
  z-index: 2;
  left: 20px;
  bottom: 50px;
  background-color: $black;
  opacity: 0.7;
  padding: 10px;
  width: 20%;
  form {
    margin-bottom: 20px;
    label {
      color: $white;
    }
  }
  .log-style-div {
    margin-top: 10px;
  }
}
.left {
  float: left;
}
.hide {
  display: none;
}
#container {
  width: 100%;
  height: 700px;
  margin-top: -20px;
}
