#container {
  width: 100%;
}

.edit-div {
  height: 50px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 5px;
}

#fence-name {
  padding-right: 10px;
}

#fence-enabled {
  padding-right: 10px;
}

.edit-left-group {
  float: left;
}

.edit-right-group {
  float: right;
}

#map-div {
  height: 600px;
}
