#bs_detail {
  top: 20%; /* was 10% */
}
#bs_detail table td {
	text-align: center;
}
#bs_detail table th {
	text-align: center;
}
#start_input_div {
  display: inline-table;
}
#end_input_div {
  display: inline-table;
}
