.container
  .span6.offset3
    %h4= @change_log.title
    - @change_log.content.split("\r\n").each do |p|
      %span= p
      %br
    %br
    = link_to "返回列表", { controller: "change_logs", action: "index" }, :method => "get", :class => 'btn btn-mini' 
